* {
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

body {
  margin: 0;
  padding-bottom: 100px;
  color: #222;
}

.page {
  max-width: 1600px;
  margin: 0 auto;
}

button {
  cursor: pointer;
}

.button-link {
  background: #222;
  color: #fff;
  padding: 15px;
  border: 3px solid transparent;
  border-radius: 5px;
  text-decoration: none;

  &:hover {
    background: #af69ef;
  }
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  color: #fff;
  background: #222;
  position: sticky;
  top: 0;
  box-shadow: 0 0 7px #222;

  .logo-link:hover {
    text-decoration: none;
  }

  .logo {
    font-size: 30px;
    font-weight: bold;
    display: flex;
    border: 2px solid #fff;
    border-radius: 5px;
    padding: 15px;
    letter-spacing: 1.5px;

    &:hover {
      color: #222;
      background: #fff;
    }

    .logo-text {
      font-family: "Jersey 25", sans-serif;
      margin-left: 15px;
    }
  }

  .link {
    margin-left: 15px;
    color: #fff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &.contact {
      background: #fff;
      color: #222;
      padding: 15px;
      border: 3px solid transparent;
      border-radius: 5px;

      &:hover {
        text-decoration: none;
        // border: 3px solid #af69ef;
        background: #af69ef;
      }
    }
  }
}

.hero {
  background: #0398fc;
  height: 300px;
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  @media (min-width: 1601px) {
    border-radius: 5px;
    margin-top: 30px;
  }

  p {
    font-style: italic;
    font-size: 20px;
  }
}

.featured {
  padding: 30px;

  h2 {
    text-align: center;
  }
}

.samples {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0 15px;
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  .button-link {
    margin: 15px;
  }
}

.card {
  margin: 15px;
  padding: 15px;
  width: 330px;
  border-radius: 5px;
  border: 1px solid #222;

  &.card-playing {
    background: #af69ef;
  }
}

.samples-page {
  h1 {
    padding: 30px 30px;
    text-align: center;
    text-decoration: #0398fc dotted underline 10px;
    text-underline-offset: 15px;
  }

  h2 {
    padding: 30px 30px 0;
    text-align: center;
  }

  p.section-description {
    padding: 0 30px 30px;
    text-align: center;
  }
}